name: Build Native Libraries
on:
  pull_request:
  push:
    branches: [ master ]
    tags: '*'
defaults:
  run:
    shell: bash
env:
  buildType: RelWithDebInfo
  tempdir: ${{ github.workspace }}/build
jobs:
  Coverage:
    runs-on: ubuntu-22.04
    if: "!(contains(github.ref, 'refs/tags/v'))"
    env:
      os: linux
      arch: x86_64
      libc: "glibc"
    steps:
      - uses: actions/checkout@v4
        name: Checkout
        with:
          submodules: recursive
          clean: true
      - name: Build libddwaf
        run: ci/build build-libddwaf --os '${{ env.os }}' --arch '${{ env.arch }}' --libc '${{ env.libc }}' --debug
      - name: Cache Gradle artifacts
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Build and test
        run: |
          ./gradlew check jacocoTestReport
      - name: Generate native coverage report
        run: |
          sudo apt-get install -y gcovr
          gcovr -f '.*src/main/c/.*' -x -d -o build/coverage.xml
      - name: Submit coverage
        uses: codecov/codecov-action@v2
        with:
          flags: helper
          verbose: true
          files: build/coverage.xml,build/reports/jacoco/test/jacocoTestReport.xml

  Native_binaries_Stage_macos_x86_64:
    name: MacOS x86_64
    runs-on: macOS-12
    env:
      os: macos
      arch: x86_64
      libc: ""
      artifactsuff: macos-x86_64
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          clean: true
      - name: Build libddwaf
        run: ci/build build-libddwaf --os '${{ env.os }}' --arch '${{ env.arch }}' --libc '${{ env.libc }}'
      - name: Build JNI bindings
        run: ci/build build-bindings --os '${{ env.os }}' --arch '${{ env.arch }}' --libc '${{ env.libc }}'
      - name: Save Artifacts
        uses: actions/upload-artifact@v4
        with:
          path: build/native_libs
          name: jni_${{ env.artifactsuff }}

  Native_binaries_Stage_macos_aarch64:
    name: MacOS aarch64
    runs-on: macOS-12
    env:
      os: macos
      arch: aarch64
      libc: ""
      artifactsuff: macos-aarch64
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          clean: true
      - name: Build libddwaf
        run: ci/build build-libddwaf --os '${{ env.os }}' --arch '${{ env.arch }}' --libc '${{ env.libc }}'
      - name: Build JNI bindings
        run: ci/build build-bindings --os '${{ env.os }}' --arch '${{ env.arch }}' --libc '${{ env.libc }}'
      - name: Save Artifacts
        uses: actions/upload-artifact@v4
        with:
          path: build/native_libs
          name: jni_${{ env.artifactsuff }}

  Native_binaries_Stage_windows_x86_64:
    name: Windows x86_64
    runs-on: windows-2019
    defaults:
      run:
        shell: cmd
    env:
      os: windows
      arch: x86_64
      libc: ""
      artifactsuff: win-x86_64
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          clean: true
      - uses: ilammy/msvc-dev-cmd@v1
        name: Setup x86_64 build
        with:
          toolset: 14.29
          arch: amd64
      - name: Build libddwaf (cmake)
        #run: ci/build build-libddwaf --os '${{ env.os }}' --arch '${{ env.arch }}' --libc '${{ env.libc }}'
        run: cmake -DCMAKE_BUILD_TYPE=${{ env.buildType }} -DLIBDDWAF_BUILD_SHARED=0 -DCMAKE_INSTALL_PREFIX="${{ github.workspace }}/libddwaf/Debug/out/usr/local" -G "NMake Makefiles" "${{ github.workspace }}/libddwaf"
      - name: Build libddwaf (make)
        run: cmake --build . --verbose
      - name: Build libddwaf (make install)
        run: cmake --build . --target install
      - name: Build JNI bindings
        run: ci/build build-bindings --os '${{ env.os }}' --arch '${{ env.arch }}' --libc '${{ env.libc }}'
        shell: bash
      - name: Save Artifacts
        uses: actions/upload-artifact@v4
        with:
          path: build/native_libs
          name: jni_${{ env.artifactsuff }}

  Native_binaries_Stage_libddwaf_linux_x86_64:
    name: Linux x86_64 (semi-static libddwaf.so)
    runs-on: ubuntu-20.04
    env:
      dockerfile: ci/alpine-libc++-static/x86_64
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: recursive
          clean: true
      - uses: docker/setup-buildx-action@v1
        id: buildx
        with:
          install: true
      - name: Build semi-statically compiled dynamic library
        run: docker buildx build -f ${{ env.dockerfile  }}/Dockerfile --progress=plain -o ${{ env.tempdir }}/packages .
      - name: Save Artifacts
        uses: actions/upload-artifact@v2
        with:
          path: ${{ env.tempdir }}/packages
          name: libddwaf_linux-x86_64

  Native_binaries_Stage_libddwaf_linux_aarch64:
    name: Linux aarch64 (semi-static libddwaf.so)
    runs-on: ubuntu-22.04
    env:
      dockerfile: ci/alpine-libc++-static/aarch64
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: recursive
          clean: true
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v1
        id: buildx
        with:
          install: true
      - name: Create packages directory
        run: mkdir -p ${{ env.tempdir }}/packages
      - name: Build semi-statically compiled dynamic library
        run: docker buildx build -f ${{ env.dockerfile  }}/Dockerfile --platform linux/arm64 --progress=plain -o ${{ env.tempdir }}/packages .
      - name: Save Artifacts
        uses: actions/upload-artifact@v2
        with:
          path: ${{ env.tempdir }}/packages
          name: libddwaf_linux-aarch64

  Native_binaries_Stage_linux_x86_64_glibc:
    name: Linux x86_64 (glibc)
    runs-on: ubuntu-20.04
    needs:
      - Native_binaries_Stage_libddwaf_linux_x86_64
    env:
      os: linux
      arch: x86_64
      libc: glibc
      artifactsuff: linux_glibc-x86_64
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          clean: true
      - name: Download libddwaf artifact
        uses: actions/download-artifact@v2
        with:
          name: libddwaf_linux-x86_64
          path: libddwaf/Debug/out/usr/local/
      - name: Build docker image
        run: ci/build build-docker-image --os ${{ env.os }} --arch ${{ env.arch }} --libc ${{ env.libc }}
      - name: Build JNI bindings
        run: ci/build build-bindings-in-docker --os ${{ env.os }} --arch ${{ env.arch }} --libc ${{ env.libc }}
      - name: Save Artifacts
        uses: actions/upload-artifact@v4
        with:
          path: build/native_libs
          name: jni_${{ env.artifactsuff }}

  Native_binaries_Stage_linux_x86_64_musl:
    name: Linux x86_64 (musl)
    runs-on: ubuntu-20.04
    needs:
      - Native_binaries_Stage_libddwaf_linux_x86_64
    env:
      os: linux
      arch: x86_64
      libc: musl
      artifactsuff: linux_musl-x86_64
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          clean: true
      - name: Download libddwaf artifact
        uses: actions/download-artifact@v2
        with:
          name: libddwaf_linux-x86_64
          path: libddwaf/Debug/out/usr/local/
      - name: Build docker image
        run: ci/build build-docker-image --os ${{ env.os }} --arch ${{ env.arch }} --libc ${{ env.libc }}
      - name: Build JNI bindings
        run: ci/build build-bindings-in-docker --os ${{ env.os }} --arch ${{ env.arch }} --libc ${{ env.libc }}
      - name: Save Artifacts
        uses: actions/upload-artifact@v4
        with:
          path: build/native_libs
          name: jni_${{ env.artifactsuff }}

  Native_binaries_Stage_linux_aarch64_glibc:
    name: Linux aarch64 (glibc)
    runs-on: ubuntu-22.04
    needs:
      - Native_binaries_Stage_libddwaf_linux_aarch64
    env:
      os: linux
      arch: aarch64
      libc: glibc
      artifactsuff: linux_glibc-aarch64
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          clean: true
      - name: Download libddwaf artifact
        uses: actions/download-artifact@v2
        with:
          name: libddwaf_linux-aarch64
          path: libddwaf/Debug/out/usr/local/
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Build docker image
        run: ci/build build-docker-image --os ${{ env.os }} --arch ${{ env.arch }} --libc ${{ env.libc }}
      - name: Build JNI bindings
        run: ci/build build-bindings-in-docker --os ${{ env.os }} --arch ${{ env.arch }} --libc ${{ env.libc }}
      - name: Save Artifacts
        uses: actions/upload-artifact@v4
        with:
          path: build/native_libs
          name: jni_${{ env.artifactsuff }}

  Native_binaries_Stage_linux_aarch64_musl:
    name: Linux aarch64 (musl)
    runs-on: ubuntu-22.04
    needs:
      - Native_binaries_Stage_libddwaf_linux_aarch64
    env:
      os: linux
      arch: aarch64
      libc: musl
      artifactsuff: linux_musl-aarch64
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          clean: true
      - name: Download libddwaf artifact
        uses: actions/download-artifact@v2
        with:
          name: libddwaf_linux-aarch64
          path: libddwaf/Debug/out/usr/local/
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Build docker image
        run: ci/build build-docker-image --os ${{ env.os }} --arch ${{ env.arch }} --libc ${{ env.libc }}
      - name: Build JNI bindings
        run: ci/build build-bindings-in-docker --os ${{ env.os }} --arch ${{ env.arch }} --libc ${{ env.libc }}
      - name: Save Artifacts
        uses: actions/upload-artifact@v4
        with:
          path: build/native_libs
          name: jni_${{ env.artifactsuff }}

  Native_binaries_Stage_asan:
    name: ASAN/static analyzer on Linux
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout project
      uses: actions/checkout@v4
      with:
        submodules: recursive
        clean: true
    - name: Install GCC and clang
      run: |
        sudo apt-get update
        sudo apt-get install -y libc++-dev libc++abi-dev libc++abi1 libstdc++-12-dev gcc g++ \
          clang clang-tools ruby
    - name: Build libddwaf
      run: |
        set -ex
        cd libddwaf
        mkdir Debug && cd Debug
        cmake .. -DCMAKE_BUILD_TYPE=Debug \
          -DCMAKE_C_COMPILER="gcc-13" \
          -DCMAKE_CXX_COMPILER="g++-13" \
          -DCMAKE_CXX_FLAGS="-fsanitize=address -fsanitize=undefined -fsanitize=leak" \
          -DCMAKE_C_FLAGS="-fsanitize=address -fsanitize=undefined -fsanitize=leak" \
          -DCMAKE_EXE_LINKER_FLAGS="-fsanitize=address -fsanitize=undefined -fsanitize=leak" \
          -DCMAKE_MODULE_LINKER_FLAGS="-fsanitize=address -fsanitize=undefined -fsanitize=leak" \
          -DCMAKE_SHARED_LINKER_FLAGS="-fsanitize=address -fsanitize=undefined -fsanitize=leak"
        VERBOSE=1 make -j
        DESTDIR=out make install
    - name: Run static analyzer
      run: |
        ci/static_analysis
    - name: Run Binding Tests
      run: |
        set -ex
        VERBOSE=1 ./gradlew --build-cache buildNativeLib -PwithASAN -PlibddwafPath=libddwaf/Debug/out/usr/local --info
        ASAN_OPTIONS="verbosity=1 handle_segv=0 fast_unwind_on_malloc=0 detect_leaks=0" \
          LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libasan.so.8 \
          ./gradlew --build-cache -x buildNativeLib --info test
  Jar_File_Stage_build_jar:
    name: Build
    runs-on: ubuntu-20.04
    needs:
      - Native_binaries_Stage_macos_x86_64
      - Native_binaries_Stage_macos_aarch64
      - Native_binaries_Stage_windows_x86_64
      - Native_binaries_Stage_linux_x86_64_glibc
      - Native_binaries_Stage_linux_x86_64_musl
      - Native_binaries_Stage_linux_aarch64_glibc
      - Native_binaries_Stage_linux_aarch64_musl
      - Native_binaries_Stage_asan
    steps:
    - name: Setup JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - uses: actions/checkout@v4
      name: Checkout
      with:
        submodules: recursive
        clean: true
    - name: Download jni_win-x86_64
      uses: actions/download-artifact@v4
      with:
        name: jni_win-x86_64
        path: build/native_libs
    - name: Download jni_linux_glibc-x86_64
      uses: actions/download-artifact@v4
      with:
        name: jni_linux_glibc-x86_64
        path: build/native_libs
    - name: Download jni_linux_glibc-aarch64
      uses: actions/download-artifact@v4
      with:
        name: jni_linux_glibc-aarch64
        path: build/native_libs
    - name: Download jni_linux_musl-x86_64
      uses: actions/download-artifact@v4
      with:
        name: jni_linux_musl-x86_64
        path: build/native_libs
    - name: Download jni_linux_musl-aarch64
      uses: actions/download-artifact@v4
      with:
        name: jni_linux_musl-aarch64
        path: build/native_libs
    - name: Download jni_macos-x86_64
      uses: actions/download-artifact@v4
      with:
        name: jni_macos-x86_64
        path: build/native_libs
    - name: Download jni_macos_aarch64
      uses: actions/download-artifact@v4
      with:
        name: jni_macos-aarch64
        path: build/native_libs
    - run: find .
      working-directory: build/native_libs
    - name: Cache Gradle artifacts
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Build final JAR and debug symbols package
      run: ./gradlew packageDebugSymbols jar
    - name: Copy artifacts to the packages directory
      run: |
        set -ex
        mkdir -p "${{ env.tempdir }}/packages"
        cp ${{ github.workspace }}/build/libs/libsqreen-*.jar "${{ env.tempdir }}/packages"
        cp ${{ github.workspace }}/build/distributions/libsqreen-*-dbgsym.zip "${{ env.tempdir }}/packages"
    - name: Publish artifacts
      uses: actions/upload-artifact@v4
      with:
        path: ${{ env.tempdir }}/packages
        name: libsqreen_jni_jar
    - name: Publish artifacts
      uses: actions/upload-artifact@v4
      with:
        path: build
        name: build_dir

  Test:
    name: Test
    needs:
      - Jar_File_Stage_build_jar
    strategy:
      matrix:
        include:
          - runs-on: ubuntu-20.04
            os: linux
            arch: x86_64
            dockerfile: ci/manylinux/x86_64
          - runs-on: macos-11
          - runs-on: macos-12
          - runs-on: macos-13
          - runs-on: macos-14
          - runs-on: macos-13-arm64
          - runs-on: macos-14-arm64
          - runs-on: windows-2019
          - runs-on: windows-2022
          # TBD: linux aarch64
    runs-on: ${{ matrix.runs-on }}
    steps:
    - uses: actions/checkout@v4
      name: Checkout
      with:
        submodules: recursive
        clean: true
    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        name: build_dir
        path: build
    - name: Build docker image
      run: ci/build build-docker-image --os ${{ matrix.os }} --arch ${{ matrix.arch }} --docker-image ${{ matrix.dockerfile }}
      if: ${{ matrix.os == 'linux' }}
    - name: Run tests (docker)
      run: ci/build run-tests-in-docker --os ${{ matrix.os }} --arch ${{ matrix.arch }} --docker-image ${{ matrix.dockerfile }}
      if: ${{ matrix.os == 'linux' }}
    - name: Run tests (no docker)
      run: ci/build run-tests
      if: ${{ matrix.os != 'linux' }}
  Publish:
    name: Publish
    runs-on: ubuntu-20.04
    needs:
      - Jar_File_Stage_build_jar
      - Test
    if: contains(github.ref, 'refs/tags/v')
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        name: build_dir
        path: build
    - name: Publish artifacts to S3รง
      # DEBUG guard rails
      run: false
      #run: ./gradlew publish
      #env:
      #  AWS_ACCESS_KEY_ID: AKIA5VR734GFSK4FR2PD
      #  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}